{
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 1,
    "react/prefer-stateless-function": 1,
    "arrow-body-style": 1,
    "class-methods-use-this": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "no-else-return": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-undef": 1
  }
}
