doctype html
html
  head
    title= title
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(rel='stylesheet', href='/public/style.css')
    link(rel='icon', href='/assets/favicon.ico')
    script(async defer src='https://buttons.github.io/buttons.js')
  body
    block content
