$menu-width: 225px;

* {
  box-sizing: border-box;
  // For long text, break it.
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

html, body {
  background: theme-color(bottom);
}
