$ygfb-colors: (
  item: (
    background: #fff,
    font: #000,
    base: #fff,
  ),
  jumbotron: (
    base: #0b1013,
    title: #fff,
  ),
  bottom: (
    base: #f5f5f5,
  ),
  menu: (
    base: #808080,
  ),
  link: (
    base: #4078c0
  )
);


$theme-colors: $ygfb-colors;
