$ygfb-colors: (
  item: (
    background: #fff,
    font: #000,
    base: #fff,
  ),
  jumbotron: (
    base: #0b1013,
    title: #fff,
  ),
  bottom: (
    base: #f5f5f5,
  ),
);

$theme-colors: $ygfb-colors;
