$ygfb-colors: (
  item: (
    background: #fff,
    font: #000,
    base: #fff,
  ),
  jumbotron: (
    base: #0b1013,
    title: #fff,
  ),
  bottom: (
    base: #f5f5f5,
  ),
  menu: (
    base: #c6c6c6,
  ),
  language-tag: (
    base: #d82d1a,
    text: #fff,
  ),
  link: (
    base: #4078c0
  )
);


$theme-colors: $ygfb-colors;
