@media (max-width: 768px) {
  .main-content > .main-menu {
    display: none;
  }

  .main-app {
    > .main-jumbotron {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 120px;
      z-index: map-get($z-index, header);

      > .title {
        > .text {
          display: none;
        }
      }
    }

    > .main-menu {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .main-content > .main-menu {
    display: block;
  }

  .main-app {
    > .main-jumbotron {

      > .menu-button {
        display: none;
      }

      > .title {
        > .fontImage {
          display: none;
        }
      }
    }

    > .main-menu {
      display: none;
    }
  }
}
