html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
button, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word; }

a:hover {
  text-decoration: underline; }

html, body {
  background: whitesmoke; }

body {
  height: 100vh; }

@media (max-width: 767px) {
  .main-content > .main-menu {
    display: none; }
  .main-app > .main-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000; }
    .main-app > .main-header > .title {
      left: 15px; }
  .main-app > .main-content {
    position: absolute;
    top: 60px; }
    .main-app > .main-content > .content {
      width: 100%; }
    .main-app > .main-content > .content > .issue-item {
      margin-top: 40px; }
  .main-app > .main-menu {
    display: block; } }

@media (min-width: 768px) {
  .main-content > .main-menu {
    display: block; }
  .main-app > .main-header > .menu-button {
    display: none; }
  .main-app > .main-menu {
    display: none; } }

@media (max-width: 575px) {
  .main-content > .content {
    padding: 0px 20px; }
  .content > .issue-item {
    width: calc(100% - 20px * 2); } }

@media (max-width: 767px) and (min-width: 576px) {
  .main-content > .content {
    padding: 0px calc((100% - 500px) / 2); }
  .content > .issue-item {
    width: 500px; } }

@media (min-width: 768px) and (max-width: 1030px) {
  .main-content > .content {
    padding: 0px calc((100% - 500px - 225px) / 2); }
  .content > .issue-item {
    width: 500px; } }

@media (min-width: 1031px) {
  .main-content > .content {
    width: calc(100% - 225px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-content > .content > .issue-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100% - 20px * 3) / 2);
    margin-right: 20px; }
    .main-content > .content > .issue-item:nth-child(even) {
      margin-left: 0px; } }

#app-entry-point {
  background-color: whitesmoke;
  width: 100%;
  min-width: 100%;
  min-height: 100%; }

@-webkit-keyframes loading-tip-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading-tip-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.loading-tip {
  position: fixed;
  top: calc(50% - 2.5em);
  left: calc(50% - 2.5em);
  width: 5em;
  height: 5em;
  border-top: 1.1em solid rgba(200, 200, 200, 0.2);
  border-right: 1.1em solid rgba(200, 200, 200, 0.2);
  border-bottom: 1.1em solid rgba(200, 200, 200, 0.2);
  border-left: 1.1em solid rgba(200, 200, 200, 0.5);
  border-radius: 50%;
  -webkit-animation: loading-tip-spin 1s linear infinite;
          animation: loading-tip-spin 1s linear infinite; }

.loading-tip:after {
  width: 5em;
  height: 5em;
  border-radius: 50%; }

.main-app {
  width: 100%;
  position: absolute;
  min-height: 100%; }

.main-content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-content > .content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 10px 0px;
    height: 100%; }
    .main-content > .content > .no-result-tip {
      padding: 20px 20px; }
  .main-content > .main-menu {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }

.main-header {
  height: 60px;
  margin: 0;
  background: #0b1013; }
  .main-header > .menu-button {
    position: absolute;
    top: 0px;
    right: 0px; }
  .main-header > .title {
    margin: auto;
    position: absolute;
    top: 0px;
    left: calc((100% - 238px) / 2);
    text-align: center;
    color: white;
    height: 60px; }

.main-menu {
  width: 225px;
  padding: 0px 20px;
  background: #c6c6c6; }
  .main-menu.-side {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    -webkit-transition: left 1s;
    transition: left 1s;
    background: #c6c6c6;
    z-index: 2000; }
  .main-menu.-hide {
    left: -225px;
    -webkit-transition: left 1s;
    transition: left 1s; }
  .main-menu > .sub-selectors {
    margin-top: 20px; }

.menu-button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 10px 15px; }
  .menu-button > .icon {
    margin: auto;
    fill: white; }
  .menu-button.-hide {
    display: hidden; }

.menu-selector > .name {
  margin-bottom: 5px;
  font-family: Helvetica;
  font-size: 1em; }

.no-result-tip {
  font-size: 24px; }

.issue-item {
  position: relative;
  border-radius: 5px;
  background-color: white;
  margin: 40px 20px 0px 20px;
  padding: 20px 3%;
  font-family: Helvetica;
  overflow-y: visible; }
  .issue-item > .title {
    font-family: Helvetica;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word; }
  .issue-item > .content > .description {
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 1.2em;
    overflow-x: auto; }
  .issue-item > .content > .more {
    display: table;
    width: 80px;
    color: #4078c0; }
  .issue-item > .content > .project {
    display: inline-block;
    margin: 20px 0 5px 0;
    font-size: 1.5em; }
  .issue-item > .content > .projectDescription {
    line-height: 1.2em; }
  .issue-item > .content > .language {
    display: table-cell;
    position: absolute;
    top: -30px;
    right: 8px;
    border-radius: 3px 3px 0 0;
    background: #d82d1a;
    padding: calc((30px - 1em) / 2) 10px;
    height: 30px;
    color: white;
    vertical-align: middle;
    font-size: 1em; }
  .issue-item > .content > .time {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.8em; }

.sub-selectors > .title {
  font-family: Helvetica;
  font-size: 1.5em;
  margin-bottom: 15px; }

.sub-selectors > .menu-selector {
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
