.issue-item {
  position: relative;
  border-radius: 5px;
  background-color: theme-color(item, background);
  margin: 40px 20px 0px 20px;
  padding: 3%;
  overflow-y: visible;


  > .title {
    font-family: Helvetica;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  > .content {

    > .description {
      margin-bottom: 5px;
      font-family: Helvetica;
      font-size: 1em;
      line-height: 1.1em;
      overflow-x: auto;
    }

    > .more {
      display: table;
      width: 80px;
      color: theme-color(link);
    }

    > .project {
      display: inline-block;
      margin-top: 20px;
      font-size: 1.5em;
    }

    > .language {
      display: table-cell;
      position: absolute;
      top: -30px;
      right: 8px;
      background-color: theme-color(language-tag);
      color: theme-color(language-tag, text);
      border-radius: 3px 3px 0 0;
      height: 30px;
      padding: calc((30px - 1em) / 2) 10px;
      font-family: Helvetica;
      font-size: 1em;
      vertical-align: middle;
      font-size: 1em;
    }

    > .time {
      display: inline-block;
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
}
