.issue-item {
  border-radius: 5px;
  background-color: theme-color(item, background);
  margin: 10px 20px 10px 20px;
  padding: 3%;
  overflow-x: auto;

  > .title {
    font-family: Helvetica;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
  }

  > .content {

    > .description {
      margin-bottom: 5px;
    }

    > .more {
      display: table;
      width: 80px;
      color: theme-color(link);
    }

    > .project {
      display: inline-block;
      margin-top: 20px;
      font-size: 1.5em;
    }

    > .languages {
      font-size: 1em;
    }

    > .time {
      display: inline-block;
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
}
