.issue-item {
  border-radius: 5px;
  background-color: theme-color(item, background);
  margin: 10px 20px 10px 20px;
  padding: 3%;
  overflow-x: auto;

  > .title {
    font-size: 2em;
    margin-top: 0;
  }

  > .content {

    > .more {
      margin-top: -10px;
      display: block;
    }

    > .project {
      font-size: 1.5em;
    }

    > .languages {
      font-size: 1em;
    }

    > .time {
      font-size: 0.8em;
    }
  }
}
