$title-img-width: 200px;
.main-header {
  height: 60px;
  // display: flex;
  margin: 0;
  background: theme-color(header);

  > .menu-button {
    // display: flex;
  }

  > .title {
    margin: auto;
    position: absolute;
    top: 0px;
    left: calc((100% - #{$title-img-width}) / 2);
    // display: flex;
    text-align: center;
    color: theme-color(header, title);
    height: 100%;
  }
}
