$menu-width: 225px;
.main-menu {
  width: $menu-width;
  padding-left: 20px;
  &.-side {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    transition: left 1s;
    background-color: theme-color(menu);
    z-index: map-get($z-index, sideMenu);
  }

  &.-hide {
    left: $menu-width * -1;
    transition: left 1s;
  }
}
