.main-menu {
  @include debug-block(1);

  &.-side {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: left 0.5s;
  }

  &.-hide {
    left: -999px;
    transition: left 0.5s;
  }
}
