.main-jumbotron {
  height: 400px;
  display: flex;
  margin: 0;
  background-color: theme-color(jumbotron);

  > .title {
    margin: auto;
    display: flex;
    text-align: center;
    color: theme-color(jumbotron, title);
    height: 100%;

    > .text {
      margin: auto;
      font-size: 3em;
      font-family: Verdana;
    }

    > .fontImage {
      width: 100%;
      height: inherit;
    }
  }
}
