$title-img-width: 238px;
$title-img-height: 60px;
.main-header {
  height: 60px;
  margin: 0;
  background: theme-color(header);

  > .menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  > .title {
    margin: auto;
    position: absolute;
    top: 0px;
    left: calc((100% - #{$title-img-width}) / 2);
    text-align: center;
    color: theme-color(header, title);
    height: $title-img-height;
  }
}
