.main-jumbotron {
  height: 400px;
  display: flex;
  margin: 0;
  background-color: theme-color(jumbotron);

  > .title {
    margin: auto;
    text-align: center;
    font-size: 60px;
    color: theme-color(jumbotron, title);
  }
}
