.main-content {
  // make height as high as container
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;

  > .content {
    flex-basis: auto;
    padding: 10px 0px;
    height: 100%;
    > .no-result-tip {
      padding: 20px 20px;
    }
  }

  > .main-menu {
    flex-basis: auto;
  }
}
