$menu-top: 0px;
$menu-left: 0px;
$icon-width: 30px;
$icon-height: 40px;
$button-width: 60px;
$button-height: 60px;

.menu-button {
  width: $button-width;
  height: $button-height;
  cursor: pointer;
  padding: #{($button-height - $icon-height) / 2} #{($button-width - $icon-width) / 2};

  > .icon {
    margin: auto;
    fill: theme-color(menu, button);
  }

  &.-hide {
    display: hidden;
  }
}
