$menu-top: 0px;
$menu-left: 0px;

.menu-button {
  background: theme-color(jumbotron);
  width: 60px;
  height: 100%;
  cursor: pointer;
  display: flex;

  > .icon {
    margin: auto;
    fill: theme-color(menu, button);
  }

  &.-hide {
    display: hidden;
  }
}
