$menu-top: 0px;
$menu-left: 0px;

.menu-button {
  background-color: gray;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-color: gray;
  display: flex;

  > .icon {
    margin: auto;
    width: 96px;
    height: 96px;
  }

  &.-hide {
    display: none;
  }
}
